In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
full_data = pd.read_csv('F:/Muthu_2023/Personal/NextStep/MLProjects/Analytics/Datasets/esas_mehsullar/esas_mehsullar_cleaned.csv')

In [5]:
# Create Product Table
product_table = full_data[['product_code', 'product_name', 'product_category']]
product_table.drop_duplicates()

,product_code,product_name,product_category
0,3334,GONDOL SIMPLE WASHBASIN AND FRIDGE CASE G61*50,Food products
1,4674,WOODEN KNIFE 3232,Dishes
2,8388,VITA 1LT PINEAPPLE SYRUP,Fruits
3,6017,1LT YELLOW PLUM COMPOTE FROM GILAN BAG,Compotes
4,8297,OSRAM SUPERSTAR LAMP 64544A ECO 57W E27,Food products

In [7]:
# Simplified Table and Extract only Business Category
df = full_data[full_data['product_category'] == 'Business'][['Sale_code','sale_date', 'sale_time','product_code']]
df.head()

    Sale_code   sale_date sale_time  product_code
9      583812  2019-04-29  03:20:00          3545
20     290384  2019-04-04  15:55:00          2462
24     290384  2019-04-04  15:55:00          4934
25     659075  2019-01-07  09:05:00          3735
27     659075  2019-01-07  09:05:00          3693

438826

Sale_code	product_code	product_name	product_category	product_price	sale_date	discount_company	bonus_card	store_name	store_lat	store_long

In [14]:
# One Hot Encoding
from sklearn.preprocessing import OneHotEncoder

In [15]:
encoder = OneHotEncoder()

In [17]:
temp = pd.get_dummies(df['product_code'])
tem

In [19]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100778 entries, 9 to 438824
Columns: 2697 entries, 2000 to 9998
dtypes: bool(2697)
memory usage: 260.0 MB