In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
raw = pd.read_csv('C:\\Users\\ADMIN\\Documents\\Datasets\\BigBasket\\bigBasketCSV.csv')

In [5]:
raw.head()

   Member    Order       SKU  Created On   Description
0  M09736  6468572  34993740  22-09-2014  Other Sauces
1  M09736  6468572  15669800  22-09-2014       Cashews
2  M09736  6468572  34989501  22-09-2014    Other Dals
3  M09736  6468572   7572303  22-09-2014       Namkeen
4  M09736  6468572  15669856  22-09-2014         Sugar

#Data Cleaning

In [8]:
#Finding NaN
NanCount = raw.isna().sum()
NanCount

Member         0
Order          0
SKU            0
Created On     0
Description    0
dtype: int64

In [9]:
#Finding mistake in text columns
UniqueItems = raw['Description'].unique()
UniqueItems.shape

(216,)

In [ ]:
CntUniqueItems = np.zeros(len(UniqueItems))
for i in range(len(raw.shape[1]))
    CntUniqueItems[UniqueItems] = raw['Description'] == UniqueItems